@media screen and (max-width:600px) {
    div.footerLogo img {
        height: 35px;
        width: 70px;
    }
}

.footer {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
    margin-top: 15px;
}

.footer-content {
    font-size: 13px;
    text-align: center;
}

.footerLogo img {
    width: 100px;
}

.footerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brandName {
    font-size: 1em;
}

.sites {
    display: flex;
}

.img {
    padding: 10px;
}

.sites img {
    width: 30px;
}

.foot {
    margin: 10px 0;
}

.copyright {
    margin: 0 0 5px 0;
}